body{
    background-color: black;
}
.container{
    position: relative;
    border-radius: 2%;
    width: 40%;
    height: 100%; 
    background-color: rgba(104, 22, 84, 0);
    padding: 3%;
}

#color{
    background-color: black;
}
.contactos{
    margin-top: -5%;
}